{
    margin:0;
    padding:0;
    line-height:1.3;
  }
  /* flex-schedul */
  .flex-schedule {
    min-width: 400px;
    max-width: 400px;
    list-style: none;
    margin: 0 auto 0 0;
    box-sizing: border-box;
  }
  
  .flex-schedule li {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  
  }
  
  .flex-schedule .area {
    padding: 10px;
    display: block;
    width: 100%;
    border-left: 6px solid #ff0093;
  }
  
  .flex-schedule li .time {
    display: inline-flex;
    justify-content: flex-end;
    flex-basis: 5em;
    max-width: 5em;
    margin-right: 1em;
    margin-top: 30px;
  }
  
  .flex-schedule .sch_box {
    position: relative;
    min-height: 1em;
    padding: 1em;
    background: #ffd9e0;
    border-radius: 6px;
  }
  
  .flex-schedule .sch_box::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 20px;
    background: #ff0093;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  
  .flex-schedule .sch_title {
    font-weight: 700;
  }
  
  .flex-schedule .sch_tx {
    font-size: 14px;
    font-weight: normal;
  }
  .bottom_space{
    margin-bottom: 5em;
  }
